@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

/* **********Desktop View********** */


/* Component 1 Styling*/
.component-1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
    padding: 50px 128px;

}

.container1 {
    display: flex;
    width: 60vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.name {
    display: flex;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid var(--Web-Orange-500, #FFA50B);
    background: #FFF;
}

span {
    color: var(--Woodsmoke-600, #595961);
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 134.355%;
    /* 85.987px */
    letter-spacing: -1.92px;
}

.title2 {
    color: var(--Eminence-700, #992E9D);
}

p {
    color: var(--Woodsmoke-800, #434347);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tags {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px;
}

.tag {
    display: flex;
    padding: 12px 16px 12px 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 100px;
    border: 1px solid var(--Web-Orange-100, #FFF4C5);
    background: var(--Web-Orange-50, #FFFCEA);
    color: var(--Web-Orange-700, #BB5302);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}

.button-frame-2 {
    display: flex;
    align-items: center;
    gap: 12px;
}

.enroll-btn {
    display: flex;
    padding: 24px 48px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 20px;
    background: var(--Linear-Eminence, linear-gradient(180deg, #B73BBE 0%, #992E9D 93.51%));
    box-shadow: 0px 8px 48px -10px rgba(153, 46, 157, 0.50);
    color: var(--Eminence-50, #FCF5FE);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;

    &:hover {
        background: rgb(172, 0, 172);
        cursor: pointer;
    }
}

.know-more-btn {
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 16px;
    color: var(--Eminence-700, #992E9D);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    background-color: white;

    &:hover {
        background: rgb(243, 243, 243);
        cursor: pointer;
    }
}

.feature {
    display: flex;
    align-items: center;
    gap: 12px;
}

.features {
    display: flex;
    padding: 36px 128px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid var(--Eminence-100, #F9EBFC);
    background: linear-gradient(180deg, rgba(183, 59, 190, 0.05) 0%, rgba(153, 46, 157, 0.05) 93.51%);
    gap: 32px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

h3 {
    color: var(--Eminence-700, #992E9D);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 100% */
}


/* Component-2 Styling */

.container-2 {
    display: flex;
    /* width: 100vw; */
    padding: 113px 128px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    background: var(--Eminence-50, #FCF5FE);
    border-radius: 16px;
}

.learning-path {
    display: flex;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1000px;
    border: 1px solid var(--Eminence-200, #F4D6F8);
    background: var(--Eminence-100, #F9EBFC);
    color: var(--Eminence-700, #992E9D);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
}

.course-name {
    text-align: center;
}

.data-science {
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.44px;
    background: linear-gradient(92deg, #B73BBE 1.46%, #EBCB2E 57.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.course-curriculum {
    color: var(--Woodsmoke-700, #4C4D52);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.44px;
}

.top-card {
    display: flex;
    width: 70vw;
    padding: 28px;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    background: #FFF;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.tech-name {
    color: var(--Woodsmoke-700, #4C4D52);
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: stretch;
    letter-spacing: normal;
}

.para-text {
    color: var(--Woodsmoke-400, #83848D);
}

.view-curriculum-btn {
    display: flex;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1000px;
    border: 1px solid var(--Eminence-100, #F9EBFC);
    background: var(--Eminence-50, #FCF5FE);
    color: var(--Eminence-600, #B73BBE);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:hover {
        background: #fcefff;
        cursor: pointer;
    }
}

.middle-card {
    display: flex;
    width: 70vw;
    padding: 28px;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    border-top: 1px solid var(--Woodsmoke-100, #E5E5E8);
    background: #FFF;
}

.bottom-card {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

/* Component 3 Styling */
.component-3 {
    display: flex;
    padding: 64px 128px;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    flex-shrink: 0;
}

.opportunity {
    width: 80%;
    text-align: center;

}

.limited-time {
    background: var(--Linear-Eminence, linear-gradient(180deg, #B73BBE 0%, #992E9D 93.51%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.4px;
}

.time-card {
    display: flex;
    width: 40vw;
    padding: 32px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 32px;
    background: var(--Linear-Violet, linear-gradient(180deg, #9849FF 0%, #841EE3 93.51%));
    box-shadow: 0px 16px 36px -10px rgba(152, 73, 255, 0.25);
}

.refund {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: normal;
}

.seats {
    color: rgba(255, 255, 255, 0.70);
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-self: stretch;

}

.offer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* How It Works Styling */
.container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    /* padding: 0px 128px */
}

.how-does-it-work {
    color: var(--Eminence-950, #450D45);
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.08px;
}

.steps {
    display: flex;
    align-items: flex-start;
    gap: 22px;
}

.step-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.step-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-text {
    position: relative;
    top: 50%;
    right: 50%;

    color: var(--Eminence-50, #FCF5FE);
    font-size: 16px;
    letter-spacing: normal;

    text-align: center;
}

.step {
    display: flex;
    width: 20vw;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 20px;
    border: 1px solid var(--Eminence-100, #F9EBFC);
    background: linear-gradient(180deg, #FFF 0%, #FCF5FE 100%);
}

.step2 {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 14px;
    border: 1px solid var(--Woodsmoke-100, #E5E5E8);
}

.step2 span {
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
    background: var(--Linear-Web-Orange, linear-gradient(180deg, #FFA50B 0%, #E27900 93.51%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.step2 p {
    flex: 1 0 0;
    color: var(--Woodsmoke-700, #4C4D52);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
}

.step-names {
    color: var(--Eminence-800, #7F2781);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.6px;
    align-self: stretch;

}

.step-description {
    color: var(--Woodsmoke-950, #1B1B1D);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: stretch;
}

/* Component-4 Styling  */

.component-4 {
    display: flex;
    /* width: 1440px; */
    padding: 48px 128px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    background: var(--Web-Orange-50, #FFFCEA);
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
    animation: 2s linear infinite scrollMotion;
}

/* Keyframes for the scrolling animation */
@keyframes scrollMotion {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-20%);
    }
}

.logo {
    display: flex;
    width: 257px;
    height: 133px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: #FFF;
    color: #374957;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    /* 40px */
    letter-spacing: -0.96px;
    text-transform: capitalize;
}


/* Component -5  */

.component-5 {
    display: flex;
    /* width: 1440px; */
    padding: 96px 128px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.image-cards {
    display: flex;
    /* width: 1184px; */
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.card1 {
    display: flex;
    padding: 36px;
    width: 35vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 32px;
    border: 1px solid var(--Eminence-100, #F9EBFC);
    background: var(--Eminence-50, #FCF5FE);
    gap: 24px;

    span {
        color: var(--Eminence-950, #450D45);
        text-align: center;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }


}

.img {
    width: 100%;
    height: 100%;
}

.feature-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    align-self: stretch;
}

.official {
    display: flex;
    padding: 12px 16px 12px 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 100px;
    border: 1px solid var(--Eminence-200, #F4D6F8);
    background: var(--Eminence-100, #F9EBFC);
    color: var(--Eminence-700, #992E9D);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}

.card2 {
    display: flex;
    padding: 28px;
    width: 35vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid var(--Web-Orange-100, #FFF4C5);
    background: var(--Web-Orange-50, #FFFCEA);

    span {
        color: var(--Web-Orange-950, #481900);
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    p {
        color: var(--Woodsmoke-500, #686972);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

/* Component - 6 */
.component-6 {
    background: #FFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 80px 128px;
    gap: 40px;

    span {
        text-align: center;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: var(--Suggested-Tutedude-Logo-gradient, linear-gradient(180deg, #B872D0 0%, #372FAA 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.collections {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.row {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 24px;
    background: #fcf5fd;
    border-radius: 50px;

    img {
        border-radius: 100px;
        border: 1px solid grey;
        height: 40px;
        width: 40px;
    }

    p {
        color: #150E42;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.apply {
    display: flex;
    /* width: 225px; */
    height: 50px;
    padding: 15px 28px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--python-banner-gradient-hero-image, linear-gradient(176deg, #800080 -2.53%, #7E267E 27.29%));
    
    box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.15), -1px 0px 4px 0px rgba(0, 0, 0, 0.15), 0px -1px 4px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%;

    &:hover {
        background: rgb(172, 0, 172);
        cursor: pointer;
    }
}


/* ********** Table view ********** */
@media screen and (min-width: 601px) and (max-width: 850px) {

    .component-1 {
        padding: 50px 64px;

    }

    .container1 {
        width: 75vw;
    }

    .container-2 {
        justify-content: center;
        align-items: center;
        padding: 113px 64px;

    }

    .component-3 {
        padding: 64px 64px;
    }

    .time-card {
        width: 60vw;
    }

    .component-4 {
        padding: 48px 64px;
    }

    .component-5 {
        padding: 80px 64px;
    }

    .component-6 {
        padding: 80px 64px;
    }
}

/* ********** MOBILE VIEW ************ */
@media screen and (max-width: 600px) {

    .component-1 {
        align-items: center;
        gap: 28px;
        padding: 30px 24px;

    }

    .container1 {
        width: 85vw;
        gap: 28px;
        align-items: center;
    }

    .name {
        padding: 18px 16px;
    }

    span {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: -1.08px;
    }

    p {
        font-size: 16px;
        font-weight: 500;
    }

    .tags {
        gap: 8px;
        justify-content: center;
    }

    .tag {
        padding: 8px 14px 8px 10px;
        gap: 6px;
        font-size: 12px;
        letter-spacing: -0.36px;
    }

    .enroll-btn {
        padding: 20px 32px;
        width: 100%;
        gap: 12px;
        border-radius: 16px;
        font-size: 16px;
        font-style: normal;
    }


    .know-more-btn {
        padding: 20px 24px;
    }

    .button-frame-2 {
        flex-direction: column;
        gap: 28px;
    }

    .features {
        padding: 30px 24px;
        gap: 24px;
    }

    h3 {
        color: var(--Eminence-700, #992E9D);
        font-family: Poppins;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        /* 100% */
    }

    /* Component-2 Styling */

    .component-2 {
        padding: 30px 0px;

    }

    .container-2 {
        padding: 44px 24px;
        align-items: center;

        gap: 40px;
    }

    .learning-path {
        padding: 16px 20px 14px 20px;
        gap: 10px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.28px;
        align-self: stretch;
    }

    .data-science {
        font-size: 24px;
        line-height: 125%;
        letter-spacing: -0.72px;
    }

    .course-curriculum {
        font-size: 24px;
        line-height: 125%;
        letter-spacing: -0.72px;
    }

    .top-card {
        padding: 20px;
        justify-content: center;
        flex-direction: column;
    }

    .tech-name {
        font-size: 20px;
        line-height: 125%;
        letter-spacing: -0.6px;
    }

    .view-curriculum-btn {
        padding: 16px 20px;
        gap: 8px;
        /* align-self: stretch; */
        font-size: 16px;
        letter-spacing: -0.64px;

    }

    .middle-card {
        padding: 20px;
        justify-content: center;
        flex-direction: column;
    }


    /* Component 3 */
    .component-3 {
        padding: 30px 24px 85px 24px;
        align-items: center;
        gap: 40px;
    }

    .opportunity {
        width: 100%;
        text-align: center;
    }

    .limited-time {
        font-size: 24px;
        line-height: 140%;
        letter-spacing: -0.72px;
    }

    .time-card {
        width: 75vw;
        padding: 20px;
        gap: 4px;
        border-radius: 24px;
    }

    .refund {
        font-size: 22px;
    }

    .seats {
        font-size: 12px;
    }

    .offer {
        gap: 4px;
        font-size: 14px;
    }


    .container-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .how-does-it-work {
        font-size: 24px;
        letter-spacing: -0.72px;
    }

    .steps {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 22px;
    }

    .step-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0px;
    }

    .step-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .step-text {
        position: relative;
        top: 50%;
        right: 50%;
        font-size: 10px;

    }

    .step {
        width: 55vw;
        padding: 16px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .step2 {
        gap: 4px;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 8px;
    }

    .step2 span {
        font-size: 32px;
        letter-spacing: -0.96px;
    }

    .step2 p {
        font-size: 12px;
        letter-spacing: -0.36px;
    }

    .step-names {
        font-size: 16px;
        letter-spacing: -0.48px;
    }

    .course-name {
        text-align: center;

    }

    .logos {
        gap: 16px;
        animation: 4s linear infinite scrollMotion;
    }

    .logo {
        width: 50px;
        height: 70px;
        border-radius: 16px;
        font-size: 20px;
    }

    /* Keyframes for the scrolling animation */
    @keyframes scrollMotion {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }


    /* Component -5  */

    .component-5 {
        padding: 48px 24px;
        gap: 48px;
    }

    .image-cards {
        flex-direction: column;
    }

    .card1 {
        padding: 20px;
        width: 75vw;
        border-radius: 16px;
        gap: 0px;

        span {
            font-size: 20px;
        }

    }

    .img {
        width: 100%;
        height: 100%;
    }

    .feature-buttons {
        gap: 6px;
        align-self: stretch;
    }

    .official {
        padding: 10px 12px;
        font-size: 12px;
        letter-spacing: -0.36px;
    }

    .card2 {
        padding: 20px;
        width: 75vw;
        gap: 20px;
        border-radius: 16px;

        span {
            font-size: 20px;
        }
    }

    /* Component-6  */

    .component-6 {
        padding: 30px 24px;
        gap: 24px;

        span {
            font-size: 28px;
        }
    }

    .collections {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .row {
        img {
            height: 30px;
            width: 30px;
        }

        p {
            font-size: 14px;
        }
    }

    .apply {
        padding: 15px 15.464px 15px 28px;
    }

}